.coin{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.col-sm{
    padding: 0px;
    padding-top: 10px;
}
.custom-control-label{
    position: relative;
    left: 330px;
    bottom: 100px;
   
    
}

