.col-sm-4{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.col-sm-4{
    padding: 0px;
    padding-top: 10px;
}
.custom-control-label{
    position: relative;
    left: 330px;
    bottom: 100px;
   
    
}
#search{
    position: relative;
    left: 1000px;
}
#searchInput{
    position: relative;
    left: 1000px; 
}

